*
{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
   
  
}
body{
   
    background: linear-gradient(rgb(78, 78, 78), rgb(126, 125, 125));

}
.l{
    background-color: white;
}
.pi{
 
  
  width: 650px;
    height: 800px;
    margin: 1px;
    border: 1px solid;
    border-radius: 15px;
    text-align: center;
    line-height: 25px;
    box-shadow: rgb(247, 173, 84) ;
    background-color: rgba(253, 255, 255, 0.952);
 
    
}

.text{
    font-size: 20px;
    text-align: center;
}
.tulumu{
    width: 20%;
    height: 30px;
    background-color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}
.tulumi{
    width: 70%;
    height: 110px;
    border-radius: 10px;
    background-color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}
.tulum{
    width: 60%;
    height: 40px;
    background-color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}
.lu{
    display: flex;
    width: 600px;
    flex-direction: row;
  justify-content: center;
    
 
}
.lilo{
    width: 18%;
    height: 30px;
    font-size: 20px;
    border-radius: 30px;
    background-color: black;
color: white;
  
}

.lilo:hover{
    width: 20%;
    height: 33px;
    
}