/*selector universal*/
*{
    margin: 0;
    margin: 0;
}
/*selector de etiqueta*/

body{
  background-color: rgb(160, 157, 153);
  color: rgb(255, 251, 251);

}
/*selector de id*/

 #contenedor{
width: 90%;
height: 600%;
background-color: rgb(35, 53, 77);
margin: 10px;
padding: 20px;

 }
 #encabezado{
    width: 90%;
    background-color: rgb(17, 7, 59);
    margin: 1em;
    border-radius: 5px;
    text-align: center;

 }
 #menu{
   width: 90%;
    height: 50px;
    background-color: rgb(6, 34, 58);
    margin: 1em;
    border-radius: 5px;
 }
 /*selector de etiqueta para el menu*/
 ul{
    text-align: center;
    padding: 5px;
 }
 li{
    display: inline;
    padding: 5px 15px;
       margin: 1em;
 
 }
 img:hover{
   width: 100%;
   height: 80%;
 }

 .days-one-regular {
   font-family: "Days One", sans-serif;
   font-weight: 500;
   font-style: normal;
 }
 
 
 
 li a:hover{
    color: rgb(251, 251, 253);
 }
 /*selector de clase*/
 .img{
    width: 100%;
    border-radius: 30px;
    justify-items: center;
 }
 .texto{
    text-align: justify;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    padding: 5px 25px;
    color: #faf9f9fd;
 }
 .pie{
    height: 20px;
    background-color: rgb(6, 34, 58);
    margin: 1.5em;
    text-align: center;
    padding: 5px;
 }
 .pie h4{
    padding: 15px;
    font-size: 30px;
    background-color: rgb(17, 7, 59);

 }

/*card*/

   .card{
    
      box-shadow: 0 4px 8px 0 black;
      overflow: hidden   ;
      max-width: 300px;
      margin: auto;
      text-align: center;
      border: 2px solid;
      border-radius: 5px;
      background-color: rgb(23, 4, 68);

   }

.card:hover{
   max-width: 310px;
}
.card img{
   background-color: white;
}
.tittle{
   color: aquamarine;
   font-size: 10px;
}
button{
   border: none;
   outline: 0;
   display: inline-block;
   padding: 8px;
   color: white;
   background-color: black;
   text-align: center;
   cursor: pointer;
   width: 100%;
   font-size: 18px;

}

 