*
{
    margin: 0;
    padding: 0;
}
.titulo{
    font-size: 40px;
    text-align: center;

}
.subtitulo{
    margin: 10px;
    text-align: center;
}
.img{
    display: block;
    width: 90%;
    margin: 0 auto;
    margin-top: 30px;
}
.contener{
    border: 2px solid;
    margin: 10px;
    padding: 10px;
    background-color: aliceblue;
}
@media screen and (max-width:1200px) {
    body{
        background-color: black;
        color: blue;
    }
    .titulo{
        font-size: 30px;
    }
}
@media screen and (max-width:700px){
    body{
        background-color: rgb(26, 150, 108);
        color: black;
    }
    .titulo{
        font-size: 25px;
    }
    .img{
        width: 70%;
    }
    .subtitulo{
        font-size: 25px;
    }
    
}
@media screen and (max-width:600px){
    body{
        background-color: rgb(175, 21, 21);
        color: black;
    }
    .titulo{
        font-size: 20px;
    }
    .img{
        width: 60%;
    }
    .subtitulo{
        font-size: 20px;
    }
    
}
@media screen and (max-width:400px){
    body{
        background-color: rgb(47, 175, 21);
        color: black;
    }
    .titulo{
        font-size: 10px;
    }
    .img{
        width: 50%;
    }
    .subtitulo{
        font-size: 10px;
    }
    
}